@font-face {
    font-family: 'Siddhanta';
	src: local('Siddhanta'),
         url('https://magizham.gitlab.io/amitodbhave/fonts/Siddhanta/siddhanta.woff2') format('woff2'),
         url('https://magizham.gitlab.io/amitodbhave/fonts/Siddhanta/siddhanta.woff') format('woff'),
         url('https://magizham.gitlab.io/amitodbhave/fonts/Siddhanta/siddhanta.ttf') format('truetype');
    unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF;
    font-display: swap;
    size-adjust: 120%;
}

@font-face {
    font-family: 'Tibetan Machine Uni';
	src: local('Tibetan Machine Uni'),
         url('https://magizham.gitlab.io/amitodbhave/fonts/TibetanMachineUnicodeFont/TibMachUni-1.901b.woff2') format('woff2'),
         url('https://magizham.gitlab.io/amitodbhave/fonts/TibetanMachineUnicodeFont/TibMachUni-1.901b.woff') format('woff'),
         url('https://magizham.gitlab.io/amitodbhave/fonts/TibetanMachineUnicodeFont/TibMachUni-1.901b.ttf') format('truetype');
    unicode-range: U+0F00-0FFF;
    font-display: swap;
    size-adjust: 140%;
}

@font-face {
    font-family: "Cantarell";
    src: local("Cantarell"),
      url("https://magizham.gitlab.io/amitodbhave/fonts/Cantarell/Cantarell-Regular.woff2") format("woff2"),
      url("https://magizham.gitlab.io/amitodbhave/fonts/Cantarell/Cantarell-Regular.woff") format("woff"),
      url("https://magizham.gitlab.io/amitodbhave/fonts/Cantarell/Cantarell-Regular.ttf") format("truetype");
    font-display: swap;
  }

* {
    font-family: 'Siddhanta', 'Tibetan Machine Uni', Cantarell, sans-serif !important;
}

a {
    text-decoration: none !important;
}