@font-face {
  font-family: "Siddhanta";
  src: local("Siddhanta"),
    url("/amitodbhave/fonts/Siddhanta/siddhanta.woff2") format("woff2"),
    url("/amitodbhave/fonts/Siddhanta/siddhanta.woff") format("woff"),
    url("/amitodbhave/fonts/Siddhanta/siddhanta.ttf") format("truetype");
  unicode-range: U+0900-097F, U+A8E0-A8FF, U+1CD0-1CFF;
  font-display: swap;
  size-adjust: 120%;
}

@font-face {
  font-family: "Tibetan Machine Uni";
  src: local("Tibetan Machine Uni"),
    url("/amitodbhave/fonts/TibetanMachineUnicodeFont/TibMachUni-1.901b.woff2") format("woff2"),
    url("/amitodbhave/fonts/TibetanMachineUnicodeFont/TibMachUni-1.901b.woff") format("woff"),
    url("/amitodbhave/fonts/TibetanMachineUnicodeFont/TibMachUni-1.901b.ttf") format("truetype");
  unicode-range: U+0F00-0FFF;
  font-display: swap;
  size-adjust: 140%;
}

@font-face {
  font-family: "Cantarell";
  src: local("Cantarell"),
    url("/amitodbhave/fonts/Cantarell/Cantarell-Regular.woff2") format("woff2"),
    url("/amitodbhave/fonts/Cantarell/Cantarell-Regular.woff") format("woff"),
    url("/amitodbhave/fonts/Cantarell/Cantarell-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "Siddhanta", "Tibetan Machine Uni", Cantarell, -apple-system,
    BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, open sans,
    helvetica neue, sans-serif;
}

main div.post-content {
  font-size: 1.4rem;
  overflow-wrap: break-word;
  /* word-break: break-all; */
  /* hyphens: auto; */
  text-align: justify;
  text-justify: inter-word;
}

.post-title {
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
}

.footnote-ref {
  font-size: 0.8rem;
}

.footnotes {
  font-size: 1.2rem;
}

main div.post-content del {
  background: none;
  color: green;
  text-decoration: none;
}

.dark main div.post-content del {
  background: none;
  color: lightgreen;
  text-decoration: none;
}

.post-entry .entry-header,
.post-entry .entry-header h2 {
  overflow-wrap: break-word;
  hyphens: auto;
}

.post-entry .entry-header h2::before {
  content: "꣼॥";
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}

.post-entry .entry-header h2::after {
  content: "॥";
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}

.post-title::before {
  content: "꣼॥";
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
}

.post-title {
  line-height: 1.5;
}

.post-title::after {
  content: "॥";
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
}

figcaption {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5rem;
}

.entry-hint-parent {
    display: inline-block;
    justify-content: space-between;
}